<h2 class="mb-3">Produtos</h2>

<div class="row g-2 align-items-center mb-3">
    <div class="col-sm-6 col-md-4">
        <input class="form-control"
                    [(ngModel)]="novoNome"
                    placeholder="Nome do produto">
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" (click)="adicionar()">Adicionar</button>
    </div>
</div>
<ul class="list group mb-3">
    @for (p of produtos; track p.id) {
        <li class="list-group-item d-flex justfy-content-between align-items-center">
            <span>{{p.id}} - {{p.nome}}</span>
            <button class="btn btn-sm btn-outline-danger"
                (click)="remover(p.id)">Remover</button>
        </li>
    }
</ul>